dotenv
requests
bs4
spacy>=3.7.0,<3.8.0 

# Si teneis el Python 3.13 en Windows y os tarda mucho el pip install -r requirements.txt no lo instaleis desde el requirements.txt haced: 

# pip install spacy --only-binary :all:
# python -m spacy download xx_ent_wiki_sm
